<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 사용자의 위치를 사용하여 관광지와의 거리를 측정합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>이 앱은 사용자의 위치를 실시간으로 추적하여 관광지 근처에 있을 때 알림을 제공합니다.</string>
</dict>
</plist>
